.store-page-detail {
  display: flex;
  width: 96%;
  padding-left: 63px;
  background-color: #193144;
}
.store-page-wrapper {
  gap: 20px;
  padding: 31px 60px;
  width: -webkit-fill-available;
  background-color: #213e59;
}
