.special-offers {
  width: auto;
  height: auto;
  background-color: #171a21;
}
.special-offers-title {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}
.items-grid {
  display: grid;
  grid-template-areas:
    "card1-gk card2-gk small-card1-gk"
    "card1-gk card2-gk small-card2-gk";
  justify-items: center;
  justify-content: space-around;
  gap: 15px;
}
.card1 {
  display: flex;
  grid-area: card1-gk;
}
.card2 {
  grid-area: card2-gk;
}
.small-card1 {
  grid-area: small-card1-gk;
}
.small-card2 {
  grid-area: small-card2-gk;
}
